.forminputdiv {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.formparent {
  height: 100vh;
  background-color: #173a3a;;
}

.loginbutton:hover {
  background-color: white;
  color: black;
}

.register {
  color: white;
}

.logininfo {
  color: white;
}